@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@500&family=Staatliches&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body{
    background-color:#f8c365; 
    overflow: hidden; /* Hide scrollbars */
}

.head{
    display: flex;
    flex-direction: row;
    align-items:center;
    
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    justify-content: space-between;
    user-select: none;
}

.left-navigate{
    display: flex;
    font-size: 150%;
    gap: 30%;
    font-family: 'Staatliches', sans-serif;
}

.mid-navigate{
    height: 40px;
    display: flex;
    font-size: 100%;
    gap: 3%;
    font-family: 'QuickSand', sans-serif;
    font-weight: 100;
}

.right-navigate{
    display: flex;
    font-family: 'Mada', sans-serif;
    font-size: 150%;
    gap: 80px;
}

.login{
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-shadow: 0px 8px 25px rgba(0, 0, 0, 1);
}

.login:hover{
    cursor: pointer;
    transform: translateY(-7px);
}

.login:active{
    transform: translateY(-1px);
}

.stadiumShape{
    background: rgb(0, 0, 0);
    border-radius: 45px;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    outline: none;
 }

 .stadiumShape:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.stadiumShape:active {
    transform: translateY(-1px);
}


.art{
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 60%;
    width: auto;
    bottom: 0;
}

.element1{
    display: inline-block;
    height: 65px;
    width: 230px;
    border-radius: 10px;
    position: absolute;
    transform: rotate(-10deg);
    bottom: 10%;
    z-index: -1;
    background-color: #FBD37A;
}

.elementrotate1{
    position: absolute;
    bottom: 100%;
    transform: rotate(-20deg);
}
.elementrotate2{
    position: absolute;
    left: -10%;
    bottom: 100%;
    transform: rotate(-20deg);
}


.element2{
    position: absolute;
    top: 45%;
    left: 10%;
    height: 15%;
    width: auto;
}
.element3{
    position: absolute;
    bottom: 0%;
    right: 5%;
    height: 15%;
    transform: rotate(90deg);
    width: auto;
}

.element4{
    display: inline-block;
    height: 80px;
    width: 230px;
    border-radius: 9999px;
    position: absolute;
    transform: rotate(-30deg);
    bottom: 50%;
    right: -100px;
    z-index: -1;
    background-color: #FBD37A;
    
}
.element41{
    border-radius: 9999px;
    position: absolute;
    bottom: 41%;
    right: -130px;
    
}

.leftMidText{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 500%;
    font-weight: 600;
    font-family: 'QuickSand', sans-serif;
}

.skilss{
    background: rgb(0, 0, 0);
    border-radius: 1000px;
    color: #f8c365;
    padding: 0.01em 0.3em;
    font-family: 'Dancing Script', sans-serif;
}

.rightMidText{
    position: absolute;
    top: 25%;
    right: 15%;
    font-size: 150%;
    font-weight: 100;
    font-family: 'Mada', sans-serif;
}

.enroll{
    background: rgba(0, 0, 0, 0);
    padding: 0.5em 1.5em;
    border-radius: 1000px;
    position: absolute;
    top: 40%;
    right: 25%;
    font-size: 125%;
    font-weight: 600;
    font-family: 'Mada', sans-serif;
}

.modal > div {
   
    background: #fff;
  }

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 33%;
    height: 66%;
    border-radius: 2%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
.container {
    position: absolute;
    left: 10%;
    justify-content: center;
}
.SingUpModal{
    text-align: center;
    font-weight: 800;
    font-size: 160%;
    
}
  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }
